<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet in the Middle</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="{{url_for('static', filename='js/config.js')}}"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="UTF-8" src="http://js.api.here.com/v3/3.0/mapsjs-places.js"></script>
    <link rel="stylesheet" type="text/css" href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
</head>
<body>
    <input id="addr1" type="text" placeholder="First Address"/>
    <input id="addr2" type="text" placeholder="Second Address"/>
        
    <button id="btnSubmit">Meet in the Middle</button>
    <p></p>
    <div style="width: 640px; height: 480px" id="mapContainer"></div>

    <script>
    $(document).ready(function() {
        $("#btnSubmit").click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/calcmiddle",
                data: {
                    addr1: $(addr1).val(),
                    addr2: $(addr2).val()
                },
                success: function(result) {
                    showMap(result);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    });

    function showMap(result) {
        coords = JSON.parse(result);

        var platform = new H.service.Platform({
            'app_id': config.app_id,
            'app_code': config.app_code
        });

        var maptypes = platform.createDefaultLayers();

        var map = new H.Map(
            document.getElementById('mapContainer'),
            maptypes.normal.map,
            {
                zoom: 10,
                center: { lng: coords.Longitude, lat: coords.Latitude }
            }
        );

        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // display markers
        var group = new H.map.Group();
        var ui = H.ui.UI.createDefault(map, platform.createDefaultLayers());
        map.addObject(group);

        var search = new H.places.Around(platform.getPlacesService()), searchResult, error;
        
        var params = {
            'at': coords.Latitude + "," + coords.Longitude,
            'cat': 'eat-drink'
        };

        function onResult(data) {
            addPlacesToMap(data.results);
        }

        function onError(error) {
            console.log(error);
        }

        function addPlacesToMap(result) {
            group.addObjects(result.items.map(function(place) {
                var marker = new H.map.Marker({lat: place.position[0], lng: place.position[1]})
                return marker;
            }));
        }

        search.request(params, {}, onResult, onError);
    }


    </script>

</body>
</html>